<div id="game-end-view">

  <div id="end-panel">
    <h1 id="end-result" class="win">YOU WON</h1>

    <p id="end-reason">
      You produced enough energy without destroying the environment.
    </p>

    <div id="end-stats">
      <div class="end-stat">
        Energy
        <span id="end-energy">0</span>
      </div>

      <div class="end-stat">
        Environment
        <span id="end-environment">0</span>
      </div>
    </div>

    <div id="end-buttons">
      <button id="return-menu-btn">Return to Main Menu</button>
    </div>
  </div>

</div>
